PORT=5000
MONGODB_URI=mongodb+srv://dbuser:Bil%40l112@cluster0.ey6gj6g.mongodb.net/mob_notifications
NODE_ENV=production
JWT_SECRET=bilal
FRONTEND_URL=https://your-frontend-url.vercel.app

# Gmail API Configuration
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:5001/api/gmail/callback 